<div xmlns:th="http://www.w3.org/1999/xhtml" th:fragment="devices_drag(devices, active_sensors, passive_sensors)"
     class="container">
    <div class="card">
        <div class="card-header">Drag devices & sensors</div>
        <div class="card-body">
            <div id="element_container">
                <div th:each="device : ${devices}" th:id="|device_${device.id}|"
                     th:text="${device.name + ':' + device.state?.name()}" class="drag_element"
                     th:style="${'left:' + device.x + 'px;' + 'top:'+ device.y + 'px'}">Name
                </div>
                <div th:each="active_sensor : ${active_sensors}" th:id="|active_sensor_${active_sensor.id}|"
                     th:text="${active_sensor.name + ':' + active_sensor.value}" class="drag_element"
                     th:style="${'left:' + active_sensor.x + 'px; top:' + active_sensor.y + 'px'}">Name
                </div>
                <div th:each="passive_sensor : ${passive_sensors}" th:id="|passive_sensor_${passive_sensor.id}|"
                     th:text="${passive_sensor.name + ':' + passive_sensor.value}" class="drag_element"
                     th:style="${'left:' + passive_sensor.x + 'px; top:' + passive_sensor.y + 'px'}">Name
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/greenhouse_drag.js"></script>
    <script type="text/javascript" th:inline="javascript">
        /*[# th:each="device : ${devices}"]*/
        draggable(document.getElementById([[|device_${device.id}|]]));
        /*[/]*/
        /*[# th:each="active_sensor : ${active_sensors}"]*/
        draggable(document.getElementById([[|active_sensor_${active_sensor.id}|]]));
        /*[/]*/
        /*[# th:each="passive_sensor : ${passive_sensors}"]*/
        draggable(document.getElementById([[|passive_sensor_${passive_sensor.id}|]]));
        /*[/]*/
    </script>
</div>